Create a DataFrame birds from this dictionary data which has the index labels.

In [21]:
import pandas as pd

dataframebirds = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
                 }

df = pd.DataFrame(dataframebirds,labels, columns = ['birds'])

print (df)

        birds
a      Cranes
b      Cranes
c     plovers
d  spoonbills
e  spoonbills
f      Cranes
g     plovers
h      Cranes
i  spoonbills
j  spoonbills

Display a summary of the basic information about birds DataFrame and its data.

In [24]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


dataframe=pd.DataFrame(data,labels,columns = ['birds'])

print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   birds   10 non-null     object
dtypes: object(1)
memory usage: 160.0+ bytes
None

Print the first 2 rows of the birds dataframe

In [ ]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}


dataframe=pd.DataFrame(data,labels)
print(dataframe.iloc[:2])

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

Print all the rows with only 'birds' and 'age' columns from the dataframe

In [26]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


dataframe=pd.DataFrame(data,labels,columns=['birds','age'])

print(dataframe.iloc[:9])

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0

In [13]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


dataframe=pd.DataFrame(data,labels,columns=['birds','age'])

print(dataframe.iloc[:9])

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0

select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']

In [29]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


dataframe=pd.DataFrame(data,labels,columns=['birds','age','visits'])

print(dataframe.iloc[2])
print(dataframe.iloc[3])
print(dataframe.iloc[7])

birds     plovers
age           1.5
visits          3
Name: c, dtype: object
birds     spoonbills
age              NaN
visits             4
Name: d, dtype: object
birds     Cranes
age          NaN
visits         2
Name: h, dtype: object

select the rows where the number of visits is less than 4

In [30]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


rslt_df = dataframe[(dataframe.visits < 4)]


print(rslt_df)

        birds  age  visits
a      Cranes  3.5       2
c     plovers  1.5       3
e  spoonbills  6.0       3
g     plovers  5.5       2
h      Cranes  NaN       2
i  spoonbills  8.0       3
j  spoonbills  4.0       2

select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN

In [32]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


rslt_df = dataframe[dataframe['age'].isnull()] 
print(rslt_df)

        birds  age  visits
d  spoonbills  NaN       4
h      Cranes  NaN       2

Select the rows where the birds is a Cranes and the age is less than 4

In [33]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


rslt_df = dataframe[(dataframe.birds == 'Cranes') & (dataframe.age < 4)]
print(rslt_df)

    birds  age  visits
a  Cranes  3.5       2
f  Cranes  3.0       4

Select the rows the age is between 2 and 4(inclusive)

In [34]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


rslt_df = dataframe[(dataframe['age'] >= 2) & (dataframe['age'] <= 4)]

                    
print(rslt_df)

        birds  age  visits
a      Cranes  3.5       2
b      Cranes  4.0       4
f      Cranes  3.0       4
j  spoonbills  4.0       2

Find the total number of visits of the bird Cranes.Getting value error

In [35]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


dataframe['total'] = dataframe['visits'].sum(axis=1).where[(dataframe['bird'] == Cranes )]

print(total)

ValueError: ignored

Calculate the mean age for each different birds in dataframe

In [37]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}

aa=dataframe.groupby('birds').mean()
print(aa)

            age  visits
birds
Cranes      3.5     3.0
plovers     3.5     2.5
spoonbills  6.0     3.0

Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.

In [39]:
#Add a new row

import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


df1 = pd.DataFrame(data, labels,columns = ['birds','age','visits','priority'])

df1

df=pd.DataFrame(columns=['birds','age','visits','priority'])
for i in range(2):
    df.loc[i]=['birds'+str(i)] + ['age'+str(i)] +['visits'+str(i)] +['priority'+str(i)] 
df   

frames = [df1, df]

result = pd.concat(frames)

print(result)

print('--------------------------------------------------------------------')
print('Delete the row and back to original')

#Delete the row and back to original

import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
}

df1 = pd.DataFrame(data,labels,columns = ['birds','age','visits','priority'])

df1

df=pd.DataFrame(columns=['birds','age','visits','priority'])
for i in range(10, 13):
    df.loc[i]=['birds'+str(i)] + ['age'+str(i)] +['visits'+str(i)] +['priority'+str(i)] 
df   

frames = [df1, df]

result = pd.concat(frames)

print(result)

update_df = result.drop([result.index[10], result.index[11],result.index[12]]) 
  
update_df

        birds   age   visits   priority
a      Cranes   3.5        2        yes
b      Cranes     4        4        yes
c     plovers   1.5        3         no
d  spoonbills   NaN        4        yes
e  spoonbills     6        3         no
f      Cranes     3        4         no
g     plovers   5.5        2         no
h      Cranes   NaN        2        yes
i  spoonbills     8        3         no
j  spoonbills     4        2         no
0      birds0  age0  visits0  priority0
1      birds1  age1  visits1  priority1
--------------------------------------------------------------------
Delete the row and back to original
         birds    age    visits    priority
a       Cranes    3.5         2         yes
b       Cranes      4         4         yes
c      plovers    1.5         3          no
d   spoonbills    NaN         4         yes
e   spoonbills      6         3          no
f       Cranes      3         4          no
g      plovers    5.5         2          no
h       Cranes    NaN         2         yes
i   spoonbills      8         3          no
j   spoonbills      4         2          no
10     birds10  age10  visits10  priority10
11     birds11  age11  visits11  priority11
12     birds12  age12  visits12  priority12

        birds  age visits priority
a      Cranes  3.5      2      yes
b      Cranes    4      4      yes
c     plovers  1.5      3       no
d  spoonbills  NaN      4      yes
e  spoonbills    6      3       no
f      Cranes    3      4       no
g     plovers  5.5      2       no
h      Cranes  NaN      2      yes
i  spoonbills    8      3       no
j  spoonbills    4      2       no

Find the number of each type of birds in dataframe (Counts)

In [40]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


df = pd.DataFrame(data, labels,columns = ['birds','age','visits','priority'])

df['birds'].value_counts()

Cranes        4
spoonbills    4
plovers       2
Name: birds, dtype: int64

Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.

In [43]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}




df1 = pd.DataFrame(data, labels,columns = ['age','visits'])
df2 = pd.DataFrame(data, labels,columns = ['birds','visits'])


# sort Brand - descending order

print('Print age in decending order-----------------------------')
df1.sort_values(by=['age'], inplace=True, ascending=False)
print(df1)
print('Print age in aecending order-----------------------------')
df2.sort_values(by=['visits'], inplace=True, ascending=True)
print(df2)

Print age in decending order-----------------------------
   age  visits
i  8.0       3
e  6.0       3
g  5.5       2
b  4.0       4
j  4.0       2
a  3.5       2
f  3.0       4
c  1.5       3
d  NaN       4
h  NaN       2
Print age in aecending order-----------------------------
        birds  visits
a      Cranes       2
g     plovers       2
h      Cranes       2
j  spoonbills       2
c     plovers       3
e  spoonbills       3
i  spoonbills       3
b      Cranes       4
d  spoonbills       4
f      Cranes       4

Replace the priority column values with'yes' should be 1 and 'no' should be 0

In [44]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'], 'labels': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


df = pd.DataFrame(data, labels,columns = ['birds','priority','age','visits'])

df1=df.priority.replace(to_replace=['no', 'yes'], value=[0, 1])

df1

a    1
b    1
c    0
d    1
e    0
f    0
g    0
h    1
i    0
j    0
Name: priority, dtype: int64

In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.

In [46]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no'],'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}


df = pd.DataFrame(data,labels,columns = ['birds','priority','age','visits'])

df1=df.birds.replace(to_replace=['Cranes'], value=['trumpeters'])

df1

a    trumpeters
b    trumpeters
c       plovers
d    spoonbills
e    spoonbills
f    trumpeters
g       plovers
h    trumpeters
i    spoonbills
j    spoonbills
Name: birds, dtype: object